@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,700&display=swap');
.models_grid{
    width: 100%;
    height: auto;
    background-color:black;
    display:flex;
    padding:5% 10%;
    flex-direction:column;
    color:white;
}
.models_row{
     display:flex;
     flex-direction: row;
     width:100%;
}
.models_box{
    position: relative;
    flex-basis:50%;
    height:400px;
}
.models_imgbox{
    position: relative;
    width: 100%;
    height: 100%;
}
.models_imgbox img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit:cover;
}
.models_textright{
    flex-basis: 50%;
    padding: 60px;
}
.models_row_reverse{
    display:flex;
    flex-direction: row-reverse;
    width:100%;
}
.models_row_reverse .models_box{
    position: relative;
    flex-basis: 50%;
    height:400px;
}
.models_row_reverse .models_textright{
    flex-basis: 50%;
    padding: 60px;
    font-family: Poppins;
    line-height:20px;
}
.models_textright h3{
    margin-bottom: 15px;
    font-size:2em;
}
.models_textright p{
    font-size:1em;
    font-weight:lighter;
}
.gaz-container{
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.gaz-container .box{
    flex-basis:80%;
    height:100%;
}
.gaz-container .box .imgbox{
    position: relative;
    width: 100%;
    height: 100%;
}
.gaz-container .box .imgbox img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.gaz-container .text-right{
    padding: 60px;
    font-family: Poppins;
    flex-basis: 40%;
}
.btnbtn{
    display:flex;
    align-items:center;
    justify-content:center;
    border: 2px solid black;
    border-radius:25px;
    margin-top:70px;
    padding: 10px 40px;
}
.btnbtn a{
    text-decoration:none;
    color:black;
}
@media screen and (max-width: 600px){
    .models_row{
        display: flex;
        flex-direction: column;
    }
    .models_textright{
        text-align: center;
        padding: 20px;
    }
    .models_row_reverse{
        display: flex;
        flex-direction: column;
    }
    .models_row_reverse .models_textright{
        padding: 20px;
        text-align:center;
    }
}
@media screen and (min-width: 601px) and (max-width:1100){
    .models_row{
        display: flex;
        flex-direction: column;
    }
    .models_textright{
        text-align: center;
        padding: 20px;
    }
    .models_row_reverse{
        display: flex;
        flex-direction: column;
    }
    .models_row_reverse .models_textright{
        padding: 20px;
        text-align:center;
    }
}