.video-container{
    display: flex;
    flex-direction: row;
    background-color:black;
    width: 100%;
    height: 100vh;
}
.video-container .video-side{
    flex-basis: 100%;
    height:100%;
}
.video-side video{
    width: 100%;
    height: 100%;
    object-fit:cover;
    padding-left:5% ;
}
.video-container  .text{
    flex-basis: 50%;
    color: white;
    padding: 10% 5%;
}
.video-container  .text h3{
    font-size: 1em;
}
.video-container .text h1{
    font-size: 2em;    
}
.video-container .text p{
    font-size:1em;
    font-weight: lighter;
    margin-top:25px;
    color: grey;
}
@media screen and (max-width:600px){
   .video-container{
       display: flex;
       flex-direction: column-reverse;
       justify-content: center;
       align-items: center;
       padding: 5% 0;
   }
   .video-container .video-side{
       width: 100%;
   }
   .video-side video{
       padding: 0;
   }
}
@media screen and (min-width: 601px) and (max-width:920px){
    .video-container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .video-container .video-side{
        width: 100%;
    }
    .video-side video{
        padding: 0;
    }
}